services:
 catalogue:
   image: catalogue:v1
   container_name: catalogue
   dependencies:
     - mongodb
 mongodb:
    image: mongodb:v1
    container_name: mongodb
 redis:
    image: redis:7.0
    container_name: redis
 user:
   image: user:v1
   container_name: user
   dependencies:
     - mongodb
     - redis
 cart:
   image: cart:v1
   container_name: cart
   dependencies:
     - mongodb
     - redis  
 shipping:
    image: shipping:v1
    container_name: shipping
    dependencies:
      - rabbitmq
 payment:
    image: payment:v1   
    container_name: payment
    dependencies:
    - rabbitmq
    - cart
    - user
 frontend:
    image: frontend:v1
    container_name: frontend
    dependencies:
        - user
        - catalogue
        - cart
        - shipping
        - payment     
networks:
  default:
    driver: bridge
    name: roboshop
    external: false 